<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rickrolln't</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <form method="post" action="/">
            <label for="roll">Enter the link to check if it's a rickroll or not</label>
            <input type="text" name="roll">
            <button type="submit"> Check </button>
        </form>
        <h2>"Never gonna be rickrolled"</h2>
        <p>Made by mehan alavimajd
            July of 2022
        </p>
        <form id="form" method="post" action="/roll">
            <label for="roll">Enter the link to Add to database</label>
            <input type="text" name="roll">
            <button type="submit"> Add </button>
        </form>
    </body>
</html>